section.home {
    position: relative;
    z-index: 5;
    display: flex;

    .main {
        width: 100%;

        .content {
            @include column;
            padding: 3rem;
            width: 100%;
            height: calc(100% - 5rem);

            .header {
                @include between-center;

                span {
                    &:first-child {
                        @include column;
                        gap: 0.5rem;

                        h3 {
                            color: #000;
                            font-weight: 700;
                        }
        
                        p {
                            color: #444444;
                            font-weight: 400;
                        }
                    }
                }
            }

            .banner {
                position: relative;
                margin-top: 2rem;
                width: 100%;
                height: 30rem;
                border: 1px solid #44444425;
                border-radius: 6px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                    object-fit: cover;
                }
            }
        }
    }
}