section.register-admin {
    position: relative;
    z-index: 5;
    background: #fff;
    height: 100vh;
    padding: 2rem 0;

    .container {
        @include column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .content {
            position: relative;

            .title {
                @include column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                img {
                    margin-bottom: 1.25rem;
                }

                h2 {
                    color: #000;
                    font-weight: 700;
                }

                p {
                    color: #444444;
                    font-weight: 400;
                }
            }

            form {
                @include column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                margin-top: 2rem;
            }
            
            .login {
                @include center-center;
                margin-top: 3rem;

                p {
                    color: #444444;
                    font-weight: 400;

                    a {
                        color: #F9A61A;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}