section.settings {
    position: relative;
    z-index: 5;
    display: flex;

    .main {
        width: 100%;

        .content {
            @include column;
            padding: 3rem;
            width: 100%;
            height: calc(100% - 5rem);

            .header {
                @include between-center;

                span {
                    &:first-child {
                        @include column;
                        gap: 0.5rem;

                        h3 {
                            color: #000;
                            font-weight: 700;
                        }
        
                        p {
                            color: #444444;
                            font-weight: 400;
                        }
                    }
                }
            }

            .infos {
                position: relative;
                margin-top: 2.5rem;

                form {
                    @include column;
                    gap: 1rem;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                    }
    
                    label {
                        color: #444444;
                        font-weight: 400;
                        width: 10rem;
                    }
    
                    .input {
                        position: relative;
                        border: 1px solid #444444;
                        border-radius: 6px;
                        color: #000;
                        width: 35rem;
                        max-width: 100%;
                        display: flex;
                        align-items: center;
                    
                        img {
                            margin-left: 1rem;
                        }
                    
                        input {
                            position: relative;
                            width: 100%;
                            font-size: 1.5rem;
                            border: none;
                            outline: none;
                            padding: 1rem;
                            border-radius: 6px;
                        }
                    
                        button {
                            background: none;
                            border: none;
                            padding: 1rem;
                            @include center-center;
                            cursor: pointer;
                    
                            img {
                                width: 2rem;
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 2rem;
            
                button {
                    transition: all .2s ease;

                    &.cancel {
                        display: none;
                        max-width: 100%;
                        padding: 1rem;
                        background: #F4F4F4;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #444444;
                        border-radius: 6px;
                        border: none;
                        box-shadow: 0 2px 1px #00000025;
                        cursor: pointer;
                    }

                    &.submit {
                        @include center-center;
                        gap: 1rem;
                        max-width: 100%;
                        padding: 1rem 2rem;
                        background: #F9A61A;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #fff;
                        border-radius: 6px;
                        border: none;
                        box-shadow: 0 2px 1px #00000025;
                        cursor: pointer;
            
                        img {
                            width: 1.5rem;
                            animation: infinite loading 1s ease;
                        }
            
                        @keyframes loading {
                            0% {
                                transform: rotate(0);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }

                    &.disabled {
                        opacity: 0.7;
                        cursor: default;
                    }
                }
            }
        }
    }
}